* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #987878;
  overflow: hidden;
}
.area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 400px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-size: 5rem;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #000;
}

button {
  border: none;
  display: block;
  padding: 10px 25px;
  font-size: 1.3rem;
  border-radius: 5px;
  font-weight: bold;
  margin: 15px 0;
  background-color: blue;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
